.file-item {
  display: grid;
  list-style: none;
  grid-template-areas: 'filename users-count average-age delete';
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr min-content;
  padding: 8px;
  margin-bottom: 0;
}

.file-item:before {
  display: none;
}

.file-list-header {
  font-size: 10px;
  font-weight: bold;
}

.file-list-header > span {
  padding-right: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: help;
}

.file-list-header > span:last-child {
  padding-right: 0;
}